
      <!-- partial -->
      <div class="content-wrapper">
            <div class="row">
                  <div class="col-sm-12 col-lg-3 mb-2"></div>
                  <div class="col-sm-12 col-lg-9 "></div>
            </div>
      
      </div>
         <!-- content-wrapper ends -->
   
   
   
        <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
       <script src="<%- url %>backend/vendors/base/vendor.bundle.base.js"></script>
       <script src="<%- url %>backend/js/template.js"></script>
       <script src="<%- url %>backend/js/off-canvas.js"></script>
        

    