<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-time Editor</title>
</head>
<body>
  <textarea id="editor" rows="10" cols="50"></textarea>

  <script>
    const editor = document.getElementById('editor');
    const ws = new WebSocket('ws://localhost:3000/board');

    editor.addEventListener('input', function(event) {
      ws.send(event.target.value);
    });

    ws.onopen = function(event) {
      console.log('Connected to WebSocket server');
    };

    // Receive editor content from server
    ws.onmessage = function(event) {
      console.log(event.data)
      editor.value = event.data;
    };

    ws.onclose = function(event) {
      console.log('Connection closed');
    };
    ws.onerror = function(event) {
      console.error('WebSocket error:', event);
    };
  </script>
</body>
</html>